<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{HH:mm:ss.SSS} %highlight(%-5p) %magenta([%-10thread]) %-30logger{0} | %m%n
            </Pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="console" />
        <level value="debug" />
    </root>

    <logger name="ch.qos.logback">
        <level value="warn" />
    </logger>

    <logger name="es.json.examples">
        <level value="debug" />
    </logger>

    <logger name="org.springframework">
        <level value="warn" />
    </logger>
</configuration>
